html{background-color: rgb(186, 247, 117);}
@font-face{font-family:"sajat"; src: url("/img/Amatic_SC/AmaticSC-Regular.ttf")}
h1{margin:14px;
    margin-bottom:20px}
.hivoszt{
    font-family: sajat;
    margin-left: 100px;
    margin-top: 70px;
    border-style:solid;
    box-shadow: 0 0 10px;
    display:inline-block;
    background-color: rgb(146, 187, 100)     
}
.hoszt1{
    margin: 10px;
}
.hivoszt button:hover{box-shadow: 0 0 30px;}
.hoszt2{margin: 10px}

.megrendeles{margin: 30px}